.cover__container {
  --border-radius: 6px;

  width: 100vw;
  height: 100vh;
  position: relative;


  .avatar__container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: var(--padding--xl);

    .circle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        207deg,
        rgba(121, 9, 84, 1) 0%,
        rgba(0, 157, 255, 1) 100%
      );
    }
    .avatar__wrapper {
      width: calc(
        100% - calc(var(--border-radius) * 2) - var(--padding--xxs) * 2
      );
      height: calc(
        100% - calc(var(--border-radius) * 2) - var(--padding--xxs) * 2
      );
      top: var(--padding--xxs);
      left: var(--padding--xxs);
      position: absolute;
      border-radius: 100%;
      overflow: hidden;
      z-index: 1;
      border: var(--border-radius) solid var(--color--background);

      img {
        height: 100%;
        left: 0;
      }
    }
  }
  .go-to {
    position: absolute;
    bottom: var(--padding--xl);
    cursor: pointer;
    text-align: center;
    font-style: italic;

    p {
      margin-bottom: var(--padding--xs);
    }
  }
}
