:root {
    --padding--xxxs: 2px;
    --padding--xxs: 4px;
    --padding--xs: 8px;
    --padding--s: 12px;
    --padding--base: 16px;
    --padding--m: 24px;
    --padding--l: 32px;
    --padding--xl: 48px;
    --padding--xxl: 64px;
    --padding--xxxl: 86px;
}

:root {
    --font-size--xxs: 6px;
    --font-size--xs: 8px;
    --font-size--s: 10px;
    --font-size--m: 12px;
    --font-size--l: 14px;
    --font-size--xl: 16px;
    --font-size--xxl: 18px;
    --font-size--xxxl: 24px;
    --font-size--huge: 31px;
    --font-size--title: 38px;
    --font-size--big-icon: 38px;
}

:root {
    --font-weight--lighter: lighter;
    --font-weight--normal: normal;
    --font-weight--bold: 500;
    --font-weight--bolder: bolder;
}

:root {
    --border--light: 1px solid var(--color--light);
    --border--lighter: 1px solid var(--color--lighter);
    --border--dark: 1px solid var(--color--contrast);
    --border--blue: 1px solid var(--color--secondary--dark);
}

:root {
    --font-color: #2d2d2d;
    --font-color--contrast: white;
    --color--background: white;
    --color--medium: #999;
    --color--light: #ccc;
    --color--lighter: #DFDFDF;
    --color--contrast: black;
    --color--dark: #2D2D2D;
    --color--secondary: #e7f1f8;
    --color--secondary--dark: #044676;
    --color--third: #db43ec;
    --color--third--dark: #b543c1; 
}

